{$APP_ADDRESS} {
    encode zstd gzip

    request_body {
        max_size 10MB
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    route {
        @pocketbaseAdmin path /_ /_/*
        respond @pocketbaseAdmin "Not Found" 404

        handle /api/* {
            reverse_proxy pocketbase:8090
        }

        handle {
            reverse_proxy frontend:80
        }
    }

    log {
        output stdout
        format console
    }
}
